.contact{
    margin: 200px 0 0 0;
    padding: 0 40px;
}

.contact h4{
    font-size: 38px;
    font-weight: 600;
    color: #450BF3;
    text-align: center;
    margin: 0 0 50px 0;
    cursor: default;
}
.social{
    display: flex;
    column-gap: 40px;
    justify-content: center;
    margin: 35px 0 0 0;
}
.social img{
    width: 50px;
    transition: all .3s;
}

.social img:hover{
    scale: 1.06; 
}
.social img:active{
    scale: 0.99; 
}

.moreInfo{
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}
.half{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.half img{
    width: 40px;
}

.half p{
    font-size: 24px;
    cursor: default;
}

@media (max-width: 1024px){
    .contact{
        margin: 130px 0 0 0;
    }
    .moreInfo{
        margin: 50px 0 30px 0;
        flex-direction: column;
        column-gap: 80px;
        row-gap: 10px;
    }
}

@media (max-width: 480px){
    .half p{
        font-size: 22px;
        cursor: default;
    }
    
   
}